body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Lora', serif;
  line-height: 1.6;
  transition: background-color 0.5s ease;
  background-color: #F5F5DC; /* Cream Beige */ /* Changed background */
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #FFF8DC; /* Cornsilk */ /* Changed background */
  color: #A0522D; /*Sienna */ /* Changed text color */
  padding: 30px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 1.5em;
}

nav a {
  text-decoration: none;
  color: #A0522D; /* Sienna */ /* Changed text color */
  font-weight: bold;
  font-size: 1.1em;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #8B4513; /* SaddleBrown */ /* Darker brown on hover */
}

header h1 {
  margin: 0;
  font-size: 3em;
  font-family: 'Playfair Display', serif;
  text-shadow: 2px 2px 5px rgba(128, 0, 0, 0.3); /* Brown Text Shadow */
  animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
  0% { text-shadow: 2px 2px 5px rgba(128, 0, 0, 0.3); }
  50% { text-shadow: 4px 4px 10px rgba(255, 0, 0, 0.5); }
  100% { text-shadow: 2px 2px 5px rgba(128, 0, 0, 0.3); }
}

.introduction {
  flex: 0 0 auto;
  position: relative;
  overflow: hidden;
  max-height: 70vh;
}

.introduction img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 50%; /* Makes the image circular */
  transition: transform 0.5s ease;
}

.introduction img:hover {
  transform: scale(1.05);
}

.intro-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  color: #A0522D; /* Sienna */ /* Changed text color */
  background-color: rgba(128, 0, 0, 0.7); /* Semi-transparent Brown */
  padding: 1em;
  font-family: 'Playfair Display', serif;
  font-size: 1.2em;
}

.button {
  background-color: #A0522D; /* Sienna */ /* Changed background */
  color: #FFF8DC; /* Cornsilk */ /* Changed text color */
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
  background-color: #8B4513; /* SaddleBrown */ /* Darker brown on hover */
  transform: scale(1.05);
}

.section {
  padding: 30px;
  text-align: center;
  margin-bottom: 30px;
  background-color: #FFF8DC; /* Cornsilk */ /* Changed background */
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.5s ease;
  animation: subtleShake 1s infinite;
}

@keyframes subtleShake {
  0%, 100% { transform: translateY(0); }
  25% { transform: translateY(-2px); }
  75% { transform: translateY(2px); }
}
